class SearchDatesForm extends React.Component {
  render() {
    return (
      <div className="form-row">
        <label>Dates</label>

        <form>
          <div className="inline-form-control">
            <input type="text"
                   value={this.props.startDate}
                   onChange={(e) => this.props.onStringValueChange("rangeStartDate", e)} />
          </div><div className="inline-form-control">
            <input type="text"
                   value={this.props.endDate}
                   onChange={(e) => this.props.onStringValueChange("rangeEndDate", e)} />
          </div><div className="inline-form-control">
            <NumGuestsSelect value={this.props.numGuests}
                             onChange={(e) => this.props.onIntValueChange("numGuests", e)} />
          </div>
        </form>
      </div>
    );
  }
}

SearchDatesForm = ReactRedux.connect(
  (searchState) => ({
    startDate: searchState.dateRangeStart,
    endDate: searchState.dateRangeEnd,
    numGuests: searchState.numGuests,
  }),
  SearchStateOnChangeCallbacks
)(SearchDatesForm);
