class SearchDatesForm extends React.Component {
  render() {
    return (
      <div className="form-row">
        <label>Dates</label>

        <form>
          <div className="inline-form-control">
            <input type="text"
                   value={this.props.dateRangeStart}
                   onChange={(e) => this.props.onStringValueChange("dateRangeStart", e)} />
          </div><div className="inline-form-control">
            <input type="text"
                   value={this.props.dateRangeEnd}
                   onChange={(e) => this.props.onStringValueChange("dateRangeEnd", e)} />
          </div><div className="inline-form-control">
            <NumGuestsSelect value={this.props.numGuests}
                             onChange={(e) => this.props.onIntValueChange("numGuests", e)} />
          </div>
        </form>
      </div>
    );
  }
}

SearchDatesForm.propTypes = {
  dateRangeStart: React.PropTypes.string.isRequired,
  dateRangeEnd: React.PropTypes.string.isRequired,
  numGuests: React.PropTypes.number.isRequired,
};

SearchDatesForm = ReactRedux.connect(
  (searchState) => ({
    dateRangeStart: searchState.params.dateRangeStart,
    dateRangeEnd: searchState.params.dateRangeEnd,
    numGuests: searchState.params.numGuests,
  }),
  SearchStateStore.onChangeCallbacks,
)(SearchDatesForm);
