class SearchDatesForm extends React.Component {
  render() {
    return (
      <div className="form-row">
        <label>Dates</label>

        <form>
          <div className="inline-form-control">
            <input type="text" />
          </div><div className="inline-form-control">
            <input type="text" />
          </div><div className="inline-form-control">
            <select>
              Num Guests
            </select>
          </div>
        </form>
      </div>
    );
  }
}
