class SearchDatesForm extends React.Component {
  render() {
    return (
      <div className="form-row">
        <label>Dates</label>

        <form>
          <div className="inline-form-control">
        <input type="text"
               value={this.props.startDate}
               onChange={this.props.onStartDateChange} />
          </div><div className="inline-form-control">
        <input type="text"
               value={this.props.endDate}
               onChange={this.props.onEndDateChange} />
          </div><div className="inline-form-control">
        <NumGuestsSelect onChange={this.props.onNumGuestsChange}
        value={this.props.numGuests} />
          </div>
        </form>
      </div>
    );
  }
}

SearchDatesForm = ReactRedux.connect(
  (searchState) => ({
    startDate: searchState.dateRangeStart,
    endDate: searchState.dateRangeEnd,
    numGuests: searchState.numGuests
  }),
  (dispatch) => ({
    onNumGuestsChange(event) {
      dispatch(updateSearch({
        numGuests: event.target.value
      }));
    },

    onStartDateChange(event) {
      dispatch(updateSearch({
        dateRangeStart: event.target.value
      }));
    },

    onEndDateChange(event) {
      dispatch(updateSearch({
        dateRangeEnd: event.target.value
      }));
    },
  })
)(SearchDatesForm);
