class SearchForms extends React.Component {
  render() {
    return (
      <div>
        <SearchDatesForm />
        <div className="form-break">
          <div className="break"></div>
        </div>
        <SearchRoomTypeForm />
        <div className="form-break">
          <div className="break"></div>
        </div>
        <SearchPriceRangeForm />
      </div>
    );
  }
}
