class SearchForms extends React.Component {
  render() {
    return (
      <div>
        <SearchDatesForm />
        <div className="form-break" />
        <SearchRoomTypeForm />
        <div className="form-break" />
        <SearchPriceRangeForm />
      </div>
    );
  }
}
