class SearchListing extends React.Component {
  constructor(props) {
    super(props)
  }

  render() {
    let listing = this.props.listing;
    return (
      <div>
        <div className="half">
          <div className="listing">
            <div className="listing-img-container">
              <img src={listing.imagePaths[0]} className="listing-photo" />

              <div className="price-container">
                <div className="inner-price-container">
                  <sup>$</sup>{listing.pricePerNight}
                </div>
              </div>

              <div className="photo-container">
                <div className="photo-round">
                  <img src={listing.hostPortraitPath} />
                </div>
              </div>
            </div>

            <div className="listing-title-detail-wrapper">
              <h3 className="listing-title">{listing.title}</h3>
              <div className="listing-details">
                {listing.roomType} • Stars • 14 Reviews
              </div>
            </div>
          </div>
        </div>
      </div>
    );
  }
}

SearchListing.propTypes = {
  listing: React.PropTypes.object.isRequired
};
