class SearchPriceRangeForm extends React.Component {
  render() {
    return (
      <div className="form-row">
        <label>Price Range</label>

        <form className="slider-form">
          <div id="price-range"></div>

          <div className="min-price">$100</div>
          <div className="max-price">$999</div>
        </form>
      </div>
    );
  }
}
