class SearchPriceRangeForm extends React.Component {
  componentDidMount() {
    let slider = noUiSlider.create(this.refs.slider, {
      start: [this.props.minPrice, this.props.maxPrice],
      connect: true,
      range: {
        'min': 0,
        'max': 999
      },
      step: 1
    });

    slider.on("update", (values, handle) => {
      this.props.onValuesChange({
        minPrice: Math.round(values[0]),
        maxPrice: Math.round(values[1])
      });
    });
  }

  render() {
    return (
      <div className="form-row">
        <label>Price Range</label>

        <form className="slider-form">
          <div ref="slider" className="slider"></div>

          <div className="min-price">${this.props.minPrice}</div>
          <div className="max-price">${this.props.maxPrice}</div>
        </form>
      </div>
    );
  }
}

SearchPriceRangeForm.propTypes = {
  minPrice: React.PropTypes.number.isRequired,
  maxPrice: React.PropTypes.number.isRequired
};

SearchPriceRangeForm = ReactRedux.connect(
  (searchState) => ({
    minPrice: searchState.minPrice,
    maxPrice: searchState.maxPrice,
  }),
  SearchStateOnChangeCallbacks
)(SearchPriceRangeForm);
