class SearchSearchSidebar extends React.Component {
  render() {
    let listingComponents = this.props.listings.map(listing => {
      return <SearchListing listing={listing} key={listing.id} />
    });

    return (
      <div className="search-sidebar">
        <SearchForms />
        <div className="listings">
          <div className="clearfix" />
          {listingComponents}
          <div className="clearfix" />
        </div>
      </div>
    );
  }
}

SearchSearchSidebar = ReactRedux.connect(
  (searchState) => ({
    listings: searchState.results.listings
  })
)(SearchSearchSidebar)
