class SearchSearchSidebar extends React.Component {
  render() {
    let listingRows = this.props.listings.map((listing) => {
      return <SearchListing listing={listing} key={listing.id} />;
    });

    listingRows.push(<div className="clearfix" key="clearfix"/>);

    let classNames = "listings";
    if (this.props.loading) {
      classNames += " loading";
    }

    return (
      <div className="search-sidebar">
        <SearchForms />
        <div className={classNames}>
          {listingRows}
        </div>
      </div>
    );
  }
}

SearchSearchSidebar = ReactRedux.connect(
  (searchState) => ({
    listings: searchState.results.listings,
    loading: searchState.results.isLoading
  })
)(SearchSearchSidebar)
