class SearchSearchSidebar extends React.Component {
  render() {
    let listingRows = _(this.props.listings).chunk(2).map((listings, idx) => {
      let listingRows =
          listings.map(l => <SearchListing listing={l} key={l.id} />);
      // Just for niceness to have heights computed correctly.
      listingRows.push(<div className="clearfix" key={idx} />);
      return listingRows;
    }).flatten().value();

    return (
      <div className="search-sidebar">
        <SearchForms />
        <div className="listings">
          {listingRows}
        </div>
      </div>
    );
  }
}

SearchSearchSidebar = ReactRedux.connect(
  (searchState) => ({
    listings: searchState.results.listings
  })
)(SearchSearchSidebar)
