<div>
  <div class="half">
    <div class="listing">
      <div class="listing-img-container">
        <%= image_tag src, class: "listing-photo" %>

        <div class="price-container">
          <div class="inner-price-container">
            <sup>$</sup>331
          </div>
        </div>
      </div>

      <div class="listing-title-detail-wrapper">
        <h3 class="listing-title">The Langtry: Beautiful 2BR Suite</h3>
        <div class="listing-details">
          Private Room • Stars • 14 Reviews
        </div>
      </div>
    </div>
  </div>
</div>
