<div>
  <div class="half">
    <div class="listing">
      <div class="listing-img-container">
        <%= image_tag "3e9cdcf7-0fa1-448c-98ce-baa8113d4f1b.jpg", class: "listing-photo" %>

        <div class="price-container">
          <div class="inner-price-container">
            <sup>$</sup>331
          </div>
        </div>
      </div>

      <h3>The Langtry: Beautiful 2BR Suite</h3>
      <div>
        Private Room • Stars • 14 Reviews
      </div>
    </div>
  </div>

  <div class="half">
    <div class="listing-img-container">
      <%= image_tag "852901bc-b93e-427f-9654-5c8826df0a90.jpg", class: "listing-photo" %>
      <div class="price-container">
        <div class="inner-price-container">
          <sup>$</sup>193
        </div>
      </div>
    </div>

    <h3>The Langtry: Beautiful 2BR Suite</h3>
    <div>
      Private Room • Stars • 14 Reviews
    </div>
  </div>

  <div class="half">
    <div class="listing">
      <div class="listing-img-container">
        <%= image_tag "3e9cdcf7-0fa1-448c-98ce-baa8113d4f1b.jpg", class: "listing-photo" %>

        <div class="price-container">
          <div class="inner-price-container">
            <sup>$</sup>331
          </div>
        </div>
      </div>

      <h3>The Langtry: Beautiful 2BR Suite</h3>
      <div>
        Private Room • Stars • 14 Reviews
      </div>
    </div>
  </div>

  <div class="half">
    <div class="listing-img-container">
      <%= image_tag "852901bc-b93e-427f-9654-5c8826df0a90.jpg", class: "listing-photo" %>
    </div>

    <h3>The Langtry: Beautiful 2BR Suite</h3>
    <div>
      Private Room • Stars • 14 Reviews
    </div>
  </div>
</div>
