<nav class="navbar hero-nav">
  <div class="container-fluid">
  <ul class="nav navbar-nav">
    <li class="active">
      <a href="#">
        ❤ kittenbnb
      </a>
    </li>
  </ul>

  <ul class="nav navbar-nav navbar-right">
    <li><a href="#">Help</a></li>
    <li><a href="#">Sign Up</a></li>
    <li><a href="#">Log In</a></li>
  </ul>
  </div>
</nav>

<div class="hero-main">
  <div data-looper="go" data-interval="3000" class="looper looper-hero xfade">
    <div class="looper-inner">
      <% (1..9).to_a.shuffle!.each do |i| %>
      <div class="item">
        <div class="img" style="background: url(<%= asset_url "hero#{i}.jpg" %>); background-size: cover">
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div class="hero-heading">
    <div class="hero-heading-inner">
      <h1>WELCOME HOME</h1>
      <h4>Rent unique places to stay from local hosts in 190+ countries</h4>
    </div>
  </div>

  <!-- TODO: Make this responsive later -->
  <div class="hero-search">
    <div class="searchbar">
      <div class="first-item item">
        <input type="text" placeholder="Where do you want to go?">
      </div><div class="item">
        Check In
      </div><div class="graphic-item item">
        →
      </div><div class="item">
        Check Out
      </div><div class="last-item item">
        # Guests
      </div><button class="item">
        Search
      </button>
    </div>
  </div>
</div>
