<div id="home"></div>

<script>
  Home.initialize(document.getElementById("home"));
</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.secrets.places_api_key %>&libraries=places&callback=Home.initializeAutocompletion" defer async></script>
