<div>
  <div class="pull-left">
    KittenBnB
  </div>

  <div class="pull-right">
    America!
  </div>
</div>

<div data-looper="go" class="hero looper xfade">
    <div class="looper-inner">
        <div class="item">
            <%= image_tag "hero1.jpg" %>
        </div>
        <div class="item">
            <%= image_tag "hero2.jpg" %>
        </div>
        <div class="item">
            <%= image_tag "hero3.jpg" %>
        </div>
    </div>
</div>
