<nav class="navbar hero-nav">
  <div class="container-fluid">
  <ul class="nav navbar-nav">
    <li class="active">
      <a href="#">
        kittenbnb
      </a>
    </li>
  </ul>

  <ul class="nav navbar-nav navbar-right">
    <li><a href="#">Help</a></li>
    <li><a href="#">Sign Up</a></li>
    <li><a href="#">Log In</a></li>
  </ul>
  </div>
</nav>

<div class="hero-main">
  <div data-looper="go" data-interval="3000" class="looper looper-hero xfade">
    <div class="looper-inner">
      <% (1..9).to_a.shuffle!.each do |i| %>
      <div class="item">
        <%= image_tag "hero#{i}.jpg" %>
      </div>
      <% end %>
    </div>
  </div>

  <div class="hero-search">
    <div class="searchbar">
      <div class="item">
        Location
      </div><div class="item">
        Check In
      </div><div class="item">
        Check Out
      </div><div class="item">
        # Guests
      </div><div class="item">
        Search!
      </div>
    </div>
  </div>
</div>
