<div class="search-sidebar"></div>
<div id="map-sidebar" class="map-sidebar"></div>

<script>
  function initMap () {
    map = new google.maps.Map(document.getElementById("map-sidebar"), {
      center: {
        lat: <%= @lat_lng[0] %>,
        lng: <%= @lat_lng[1] %>
      },
      zoom: 8
    });
  }
</script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.secrets.places_api_key %>&libraries=places&callback=initMap" defer async></script>
