.listings {
  .half {
    width: 50%;
    float: left;

    padding-left: 12.5px;
    padding-right: 12.5px;

    margin-bottom: 12.5px;
  }

  .listing-img-container {
    position: relative;
  }

  img.listing-photo {
    width: 100%;
  }

  .price-container {
    position: absolute;
    bottom: 30px;
    left: 0px;

    padding: 0px 10px 0px 10px;

    background: rgba(0, 0, 0, 0.6);

    .inner-price-container {
      sup {
        font-size: 14px;
      }

      color: white;
      font-size: 24px;
    }
  }

  .listing-title-detail-wrapper {
    padding: 10px;
  }

  .listing-title {
    color: rgb(86, 90, 92);
    font-size: 16px;
    font-weight: normal;
    padding: 0;
    margin-top: 6.25px;
    margin-bottom: 0px;
  }

  .listing-details {
    font-size: 13px;
    color: rgba(86, 90, 92, 0.8);
  }
}