.listings {
  // Gray out when loading.
  &.loading {
    position: relative;

    &:after {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      content: " ";

      background: rgba(255, 255, 255, 0.8);
    }
  }

  // Two listings per row.
  .half {
    width: 50%;
    float: left;

    padding-left: 12.5px;
    padding-right: 12.5px;

    margin-top: 6.25px;
    margin-bottom: 6.25px;
  }

  .listing {
    // Will need to be relative for us to do overlays.
    .img-container {
      position: relative;

      img.photo {
        width: 100%;
      }

      // Show arrows to advance
      &:hover {
        .reverse, .advance {
          display: block;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);

          font-size: 40px;
          color: rgba(255, 255, 255, 0.8);

          &:hover {
            color: rgba(255, 255, 255, 0.9);
          }
        }

        .reverse {
          left: 12px;
        }

        .advance {
          right: 12px;
        }
      }

      .reverse, .advance {
        display: none;
      }
    }

    // Price tag.
    .img-container .price-container {
      position: absolute;
      bottom: 30px;

      padding: 0px 10px 0px 10px;

      background: rgba(0, 0, 0, 0.6);

      .inner-price-container {
        // Raise up dollar sign.
        sup {
          font-size: 14px;
        }

        color: white;
        font-size: 24px;
      }
    }

    .img-container .portrait-container {
      // Position.
      position: absolute;
      bottom: 0px;
      right: 0px;
      transform: translate(-20%, +50%);

      .portrait-round {
        border-radius: 50%;
        border: 2px solid white;
        overflow: hidden;

        // Coverup slight misalignment of photos.
        background: white;

        img {
          height: 60px;
          width: 60px;
        }
      }
    }

    .title-detail-wrapper {
      padding: 12px 10px 10px 10px;

      .title {
        color: rgb(86, 90, 92);
        font-size: 16px;
        font-weight: normal;

        // Reset.
        padding: 0;
        margin: 0;

        a {
          color: inherit;
        }
      }

      .details {
        color: rgba(86, 90, 92, 0.8);
        font-size: 13px;

        a {
          color: inherit;
          text-decoration: none;
        }
      }
    }
  }
}
