#search {
  .navbar, .search-nav {
    height: 8vh;
    margin-bottom: 0;

    border: 0px;
    border-bottom: 1px;
    border-color: rgba(195, 195, 195, 0.4);
    border-style: solid;

    .search-bar {
      height: 60px;

      border: 0px;
      border-left: 1px;
      border-style: solid;
      border-left-color: rgba(195, 195, 195, 0.4);
      padding-left: 15px;

      i.fa {
        color: rgba(195, 195, 195, 0.6);
        font-size: 20px;
        line-height: 60px;
      }

      input {
        background-color: transparent;
        height: 60px;
        vertical-align: top;
        border: 0px;
        padding-left: 10px;
        width: 300px;
      }

      input:focus {
        outline: none;
      }
    }

    a.brand-link {
      color: rgba(255, 90, 95, .85);

      font-size: 20px;
      font-weight: bold;
      padding-right: 10px;
    }

    a {
      color: rgb(86, 90, 92);
      line-height: 60px;
      padding-bottom: 0px;
      padding-top: 0px;
    }

    a:hover,
    a:focus {
      text-decoration: none;
    }

    li {
      border: 0px;
      border-left: 1px;
      border-style: solid;
      border-left-color: rgba(195, 195, 195, 0.4);

      a {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }

  .search-sidebar {
    position: fixed;
    top: 8vh;
    height: 92vh;
    width: 60vw;

    overflow: scroll;
  }

  .search-forms {
    height: 28vh;
  }

  .form-row {
    padding: 15px 20px 15px 20px;
    height: 69px;

    label {
      float: left;
      width: 17%;
      height: 100%;

      font-weight: normal;

      line-height: 36px;
      vertical-align: middle;
    }

    form {
      float: left;
      width: 75%;
    }

    // TODO: Breaks on smaller screens.
    div.inline-form-control {
      height: 36px;
      width: calc(100% / 3);

      display: inline-block;
      padding-left: 6.25px;
      padding-right: 6.25px;
    }

    input, select, .mycheckbox {
      height: 36px;
      padding: 8px 10px 8px 10px;
      width: 100%;

      border: 1px;
      border-color: rgba(195, 195, 195, 1.0);
      border-style: solid;
    }

    input, select {
      vertical-align: middle;
      border-radius: 2px;
    }

    input {
      line-height: 36px;
    }

    .mycheckbox {
      background-color: rgb(237, 239, 237);
      padding: 8px 0px 8px 10px;
      display: inline-block;

      border-color: rgba(195, 195, 195, 0.4);

      .icon {
        height: 18px;
      }

      input[type=checkbox] {
        display: inline-block;
        float: right;
        position: relative;

        margin: 0;
        padding: 0;
        margin-right: 5px;

        background-color: white;
        -webkit-appearance: none;
        height: 1.25em;
        width: 1.25em;
      }

      input[type="checkbox"]:checked:before {
        content: "";
        position: absolute;
        background-color: #ff5a5f;
        color: #ff5a5f;
        left: 1px;
        top: 1px;
        bottom: 1px;
        right: 1px;

        border-radius: 1px;
      }

      input[type="checkbox"]:focus {
        outline: none;
      }
    }

    select {
      background-color: white;
      -webkit-appearance: none;
    }

    // Slider stuff.
    form.slider-form {
      position: relative;
      width: 75%;
      border-left: 6.25px;
      border-right: 12.5px;

      .slider {
        height: 24px !important;

        border: none;
        box-shadow: none;
        background: transparent !important;

        padding-left: 6.25px;
        padding-right: 6.25px;
      }

      .noUi-background {
        height: 4px;
        border-bottom: 2px solid white;

        background: #dce0e0;
      }

      .noUi-base {
        background: #dce0e0;
        height: 24px;
        border-bottom: 11px solid white;
        border-top: 11px solid white;
      }

      .noUi-connect {
        background: #ff5a5f;
        height: 4px;
        box-shadow: none;
      }

      .noUi-handle {
        border-radius: 100%;
        height: 24px;
        width: 24px;
        top: -10px;
      }

      .noUi-handle:before,
      .noUi-handle:after {
        content: none;
      }

      .min-price {
        position: absolute;
        left: 0px;
        transform: translate(-50%, 0%);
      }

      .max-price {
        position: absolute;
        right: 0px;
        transform: translate(25%, 0%);
      }
    }
  }

  .form-row-tall {
    height: 116px;
  }

  .form-break {
    padding: 0px 20px 0px 20px;
    .break {
      height: 1px;
      background-color: rgba(195, 195, 195, 0.4);
    }
  }

  .listings {
    background-color: #f5f5f5;
  }

  .map-sidebar {
    position: fixed;
    bottom: 0px;
    top: 8vh;
    width: 40vw;
    left: 60vw;
  }

  #map {
    height: 100%
  }
}
