#search {
  // Navbar
  .my-navbar {
    border-bottom: 1px solid rgba(195, 195, 195, 0.4);

    .brand a {
      color: rgba(255, 90, 95, .85);

      // Center logo by setting line-height to full height of div.
      line-height: 40px;
    }

    .nav-search-bar {
      height: 60px;
      float: left;

      border-left: 1px solid rgba(195, 195, 195, 0.4);
      padding-left: 10px;

      i.fa {
        // Center search icon. Since inline can't change height.
        line-height: 60px;

        color: rgba(195, 195, 195, 0.6);
        font-size: 20px;
      }

      input[type=text] {
        // Make plenty long.
        height: 100%;
        width: 400px;

        padding-left: 10px;

        // Unstyle the text input.
        background-color: transparent;
        border: 0px;

        &:focus {
          outline: none;
        }
      }
    }

    .items .item {
      border-left: 1px solid rgba(195, 195, 195, 0.4);

      a {
        color: rgb(86, 90, 92);
      }
    }
  }

  // Search/Map sidebars sit side-by-side.
  .search-sidebar {
    height: calc(100vh - 60px);
    width: 60vw;
    float: left;

    overflow: scroll;
  }

  .map-sidebar {
    height: calc(100vh - 60px);
    width: 40vw;
    float: left;

    .map {
      height: 100%
    }
  }

  .form-row {
    padding: 15px 20px 15px 20px;

    &:after {
      display: block;
      content: " ";
      clear: both;
    }
  }

  // Inline form labels/vertical sizing/inputs.
  .form-row {
    label {
      float: left;
      width: 15%;

      // Remove label styling.
      margin: 0;
      font-weight: normal;

      // Center text vertically.
      line-height: 36px;
      vertical-align: middle;

      // Move onto own line if screen is too small.
      @media (max-width: 1248px) {
        width: 100%;
        text-align: center;
      }
    }

    .inline-inputs {
      float: left;
      width: 75%;

      @media (max-width: 1248px) {
        width: 100%;
      }
    }

    .inline-input {
      width: calc(100% / 3);

      float: left;
      padding-left: 6.25px;
      padding-right: 6.25px;
    }

    input, select, .mycheckbox {
      height: 36px;
      // Force inline element to take all space.
      width: 100%;

      padding: 8px 0px 8px 8px;

      // Display light outline.
      border: 1px;
      border-color: rgba(195, 195, 195, 1.0);
      border-style: solid;
    }

    // Align text to middle of inputs. Round corners.
    input, select {
      vertical-align: middle;
      border-radius: 2px;
    }

    input {
      line-height: 36px;
    }

    select {
      background-color: white;
      -webkit-appearance: none;
    }
  }

  // Everything pertaining to checkboxes
  .form-row .inline-input .mycheckbox {
    // Tweak colors a little.
    background-color: rgb(237, 239, 237);
    border-color: rgba(195, 195, 195, 0.4);

    // TODO: This sucks.
    .icon {
      height: 16px;
      padding-right: 4px;
      display: block;
      float: left;
    }

    input[type=checkbox] {
      // Float to the left.
      display: inline-block;
      float: right;

      // Remove default appearance.
      margin: 0;
      padding: 0;
      background-color: white;
      -webkit-appearance: none;

      // Size appropriately. 18px because of one pixel border.
      height: 18px;
      width: 18px;
      margin-right: 5px;

      // Positioning relative to (1) allow us to make this taller, and
      // (2) absolute position the checkmark inside.
      position: relative;

      // Hackery to put a little red square inside the checkbox.
      &:checked:before {
        content: "";

        position: absolute;
        left: 1px;
        top: 1px;
        bottom: 1px;
        right: 1px;

        background-color: #ff5a5f;
        border-radius: 1px;
      }

      // Don't outline on toggling.
      &:focus {
        outline: none;
      }
    }
  }

  // Slider stuff.
  .inline-inputs.slider-inline-input {
    // Move this in a little bit since inputs in other rows have padding
    // which we need to emulate.
    padding-left: 6.25px;
    padding-right: 6.25px;

    .min-price {
      padding-top: 5px;
      float: left;
      width: 50%;
    }

    .max-price {
      padding-top: 5px;
      float: left;
      width: 50%;
      text-align: right;
    }
  }

  .slider-inline-input .slider {
    height: 24px !important;

    // Remove any border/background around the entire slider.
    border: none;
    box-shadow: none;
    background: transparent !important;

    // Masks top end gray.
    .noUi-background {
      height: 4px;
      border-bottom: 2px solid white;

      background: #dce0e0;
    }

    // Masks bottom end gray, and also makes background white.
    .noUi-base {
      background: #dce0e0;
      height: 24px;
      border-bottom: 11px solid white;
      border-top: 11px solid white;
    }

    // Makes connected part red.
    .noUi-connect {
      background: #ff5a5f;
      height: 4px;
      box-shadow: none;
    }

    // Make the handles circular.
    .noUi-handle {
      border-radius: 100%;
      height: 24px;
      width: 24px;
      // Recenter handle properly. It's absolutely positioned.
      // Not 12px prolly because of width of bar.
      top: -10px;
    }

    // Not sure what this is for, but aplies an ugly border-radius
    .noUi-origin {
      border-radius: 0px;
    }

    // Center handle horizontally at ends. Don't understand why tapering
    // looks better...
    .noUi-handle-lower {
      left: -10px;
    }
    .noUi-handle-upper {
      left: -12px;
    }

    // Removes obnoxious hash marks inside handles.
    .noUi-handle:before,
    .noUi-handle:after {
      content: none;
    }
  }

  .form-break {
    margin: 0px 20px 0px 20px;
      height: 1px;
      background-color: rgba(195, 195, 195, 0.4);
  }

  .listings {
    background-color: #f5f5f5;
  }
}
