class HomeHeroMain extends React.Component {
  render() {
    return (
      <div className="home">
        <HomeNavbar />
        <div className="hero-main">
          <HomeHeroLoop />
          <HomeHeroHeading />

          <HomeSearchTool />
        </div>
      </div>
    );
  }
}

