class HomeMain extends React.Component {
  render() {
    return (
      <div>
        <HomeImageLoop />
        <HomeNavbar />

        <div className="content-outer">
          <div className="content-inner">
            <HomeTitle />
            <HomeSearchTool />
          </div>
        </div>
      </div>
    );
  }
}
