class HomeMain extends React.Component {
  render() {
    return (
      <div>
        <HomeNavbar />
        <div className="hero-main">
          <HomeImageLoop />
          <HomeTitle />

          <HomeSearchTool />
        </div>
      </div>
    );
  }
}
