class HomeNavbar extends React.Component {
  render() {
    return (
      <nav className="my-navbar">
        <div className="brand">
          <a href="#">❤ kittenbnb</a>
        </div>

        <div className="items">
          <div className="item"><a href="#" onClick={AboutModal.show}>Help</a></div>
          <div className="item"><a href="#" onClick={AboutModal.show}>Sign Up</a></div>
          <div className="item"><a href="#" onClick={AboutModal.show}>Log In</a></div>
        </div>
      </nav>
    );
  }
}
