class HomeSearchTool extends React.Component {
  constructor(props) {
    super(props);

    // The singleton instance of SearchTool:
    HomeSearchTool.instance = this;

    this.state = {
      dateRangeStart: "Check In",
      dateRangeEnd: "Check Out",
      location: "",
      numGuests: 1
    };

    // React doesn't autobind ES6 methods.
    this.submitForm = this.submitForm.bind(this);
    this.triggerClick = this.triggerClick.bind(this);
  }

  componentDidMount() {
    let $dateRangeInput = $(this.refs.dateRange);

    $dateRangeInput.daterangepicker({
      autoApply: true,
      drops: "down",
      minDate: moment().startOf('day'),
    });

    $dateRangeInput.on("didUpdateStart", (e, date) => {
      this.setState({
        dateRangeStart: date.format("MM/DD/YYYY")
      });
    });

    $dateRangeInput.on("didUpdateEnd", (e, date) => {
      this.setState({
        dateRangeEnd: date.format("MM/DD/YYYY")
      });
    });
  }

  render() {
    let locationInput = (
      <input type="text"
             name="search[location]"
             ref="locationInput"
             placeholder="Where do you want to go?"
             onChange={(e) => this.setState({location: e.target.value})}
             value={this.state.location} />
    );

    // Phantom input exists only for datepicker to interact with.
    let dateRangeStartInput = (
      <div className="item" onClick={this.triggerClick}>
        <input className="phantom-input"
               ref="dateRange"
               type="text" />
        <input name="search[dateRangeStart]"
               type="text"
               style={{ display: "none" }}
               value={this.state.dateRangeStart} readOnly />
        {this.state.dateRangeStart}
      </div>
    );

    let dateRangeEndInput = (
      <div className="item"
           key="dateRangeEndInput"
           onClick={this.triggerClick}>
        <input name="search[dateRangeEnd]"
               type="text"
               style={{ display: "none" }}
               value={this.state.dateRangeEnd} readOnly />
        {this.state.dateRangeEnd}
      </div>
    );

    let numGuestsOnChange = (e) => {
      this.setState({ numGuests: parseInt(e.target.value)});
    };
    let numGuestsSelect = (
      <NumGuestsSelect name="search[numGuests]"
                       className="guests-item item"
                       key="numGuestsSelect"
                       onChange={numGuestsOnChange}
                       value={this.state.numGuests} />
    );

    let submitButton = (
      <button className="item" key="submitButton" onClick={this.submitForm}>
        Search
      </button>
    );

    let errorMessage = this.state.currentError == null ? null : (
        <div className="error-messages">
          <span className="item">{this.state.currentError}</span>
        </div>
    );

    return (
      <div className="search">
        <form className="searchbar" action="/search" method="GET">
          <div className="item location-item">
            {locationInput}
          </div>{dateRangeStartInput}<div className="item graphic-item">
            →
          </div>{ [dateRangeEndInput, numGuestsSelect, submitButton] }
        </form>

        {errorMessage}
      </div>
    );
  }

  submitForm(e) {
    let error = this.validationErrors();
    if (error) {
      e.preventDefault();
      this.setState({ currentError: error });
    }
  }

  triggerClick() {
    $(this.refs.dateRange).trigger("click");
  }

  validationErrors() {
    if (this.state.location == "") {
      return "Destination location cannot be blank.";
    } else if (this.state.dateRangeStart == "Check In") {
      return "Check in date cannot be blank.";
    } else if (this.state.dateRangeEnd == "Check Out") {
      return "Check out date cannot be blank.";
    }

    let dateRangeStart = moment(new Date(this.state.dateRangeStart));
    let dateRangeEnd = moment(new Date(this.state.dateRangeEnd));
    if (!dateRangeStart.isBefore(dateRangeEnd)) {
      return "Check out must occur after check-in.";
    }

    return null;
  }
}
