class HomeTitle extends React.Component {
  render() {
    return (
      <div className="hero-heading">
        <div className="hero-heading-inner">
          <h1>WELCOME HOME</h1>
          <h4>Rent unique places to stay from local hosts in 190+ countries.</h4>
        </div>
      </div>
    );
  }
}
